# Basic setup for fetching data from the facebook api

### Remember to add an active access token below and adjust the parameters and fields if necessary

In [6]:
# must be specified to be able to use methods of package
import sys
sys.path.append('../src') 
# import packages
import pandas as pd
from political_ads.api_request import get_json_response 

# insert your access token here (expires every 2 hours)
access_token = "EAADqFZC76BDMBAKFfFp2T5H9YUswZBz9t1pc94UG1vYx2iVeVGmciJLZAAxiRnD05UPlhcjgZBwTG9sKKWqsfiUqWelO9nqmiqm5LCVamhdsSteXJ4tMisLSXdy8QR98DNZAGlpXUFTTK4VMHVrwK8ZCDtiwsymPacfrRITeBkQX1SZCCrF6dwC5I9ZBuv4lEZBEgcbKSR2qCiwqivQvI4hwR"
# get_new_access_token: https://developers.facebook.com/tools/explorer/


# PARAMETERS NECESSARY
ad_type = "POLITICAL_AND_ISSUE_ADS"
ad_reached_countries = ['US', 'DE'] # Facebook delivered the ads in these countries. Provided as ISO country codes.
search_terms = "climate change" # The terms to search for in your query. We treat a blank space as a logical AND and search for both terms and no other operators. The limit of your string is 100 characters or less.
limit = 2000
start_date = "2020-08-00"
end_date = "2020-11-03"


# FIELDS to specify your results
fields = ["id", "page_name", "ad_creative_body", "impressions", "delivery_by_region", "demographic_distribution", "ad_delivery_start_time", "bylines", "spend"]

# see here for more parameters and fields: https://www.facebook.com/ads/library/api/?source=archive-landing-page 



input_url = f"https://graph.facebook.com/v12.0/ads_archive?search_terms={search_terms}&ad_type={ad_type}&ad_reached_countries={ad_reached_countries}&fields={fields}&limit={limit}&ad_delivery_date_min={start_date}&ad_delivery_date_max={end_date}"

response = get_json_response(input_url, access_token)

data = pd.DataFrame(response["data"])

Exception: (500, '{"error":{"code":1,"message":"Please reduce the amount of data you\'re asking for, then retry your request"}}')

In [2]:
data

,id,ad_creative_body,impressions,delivery_by_region,demographic_distribution,funding_entity
0,878708576362819,Transport affects climate change and our urban...,{'lower_bound': '1000000'},"[{'percentage': '2.0E-6', 'region': 'JÃ¤mtland ...","[{'percentage': '0.000114', 'age': '55-64', 'g...",European Commission
1,345860090520766,"Climate change, environmental degradation and ...",{'lower_bound': '1000000'},"[{'percentage': '7.0E-6', 'region': 'Hiiu Coun...","[{'percentage': '0.001705', 'age': '25-34', 'g...",European Commission
2,161524832762330,ðŸŒŽ Sierra Club's City Hike-A-Thon is a national...,"{'lower_bound': '1000', 'upper_bound': '1999'}","[{'percentage': '0.789011', 'region': 'Massach...","[{'percentage': '0.006508', 'age': '45-54', 'g...",SIERRA CLUB
3,317427000179234,ðŸŒŽ Sierra Club's City Hike-A-Thon is a national...,"{'lower_bound': '1000', 'upper_bound': '1999'}","[{'percentage': '0.001553', 'region': 'Connect...","[{'percentage': '0.00155', 'age': '18-24', 'ge...",SIERRA CLUB
4,1033393710740228,ðŸŒŽ Sierra Club's City Hike-A-Thon is a national...,"{'lower_bound': '1000', 'upper_bound': '1999'}","[{'percentage': '0.003442', 'region': 'Connect...","[{'percentage': '0.001724', 'age': '35-44', 'g...",SIERRA CLUB
...,...,...,...,...,...,...
1995,581157893200388,The signs are unmistakable. The science is und...,"{'lower_bound': '0', 'upper_bound': '999'}","[{'percentage': '0.006536', 'region': 'Alaska'...","[{'percentage': '0.002179', 'age': '55-64', 'g...",DNC SERVICES CORP./DEM. NAT'L COMMITTEE
1996,170072325277053,The signs are unmistakable. The science is und...,"{'lower_bound': '0', 'upper_bound': '999'}",NaN,NaN,DNC SERVICES CORP./DEM. NAT'L COMMITTEE
1997,449718823077047,Weâ€™re seeing the devastating impacts of the cl...,"{'lower_bound': '0', 'upper_bound': '999'}",NaN,NaN,DNC SERVICES CORP./DEM. NAT'L COMMITTEE
1998,2987393091501563,Weâ€™re seeing the devastating impacts of the cl...,"{'lower_bound': '0', 'upper_bound': '999'}",NaN,NaN,DNC SERVICES CORP./DEM. NAT'L COMMITTEE
1999,954184818498030,The signs are unmistakable. The science is und...,"{'lower_bound': '0', 'upper_bound': '999'}",NaN,NaN,DNC SERVICES CORP./DEM. NAT'L COMMITTEE

In [3]:
paging1 = response["paging"]["next"]

In [4]:
response1 = get_json_response(paging1, access_token)

data1 = pd.DataFrame(response1["data"])

data1

,id,ad_creative_body,impressions,funding_entity,delivery_by_region,demographic_distribution
0,578628639994706,The signs are unmistakable. The science is und...,"{'lower_bound': '0', 'upper_bound': '999'}",DNC SERVICES CORP./DEM. NAT'L COMMITTEE,NaN,NaN
1,844303019562963,The signs are unmistakable. The science is und...,"{'lower_bound': '0', 'upper_bound': '999'}",DNC SERVICES CORP./DEM. NAT'L COMMITTEE,NaN,NaN
2,1903273049851989,Weâ€™re seeing the devastating impacts of the cl...,"{'lower_bound': '0', 'upper_bound': '999'}",DNC SERVICES CORP./DEM. NAT'L COMMITTEE,NaN,NaN
3,4499902180052797,The signs are unmistakable. The science is und...,"{'lower_bound': '0', 'upper_bound': '999'}",DNC SERVICES CORP./DEM. NAT'L COMMITTEE,NaN,NaN
4,1171727006650766,Weâ€™re seeing the devastating impacts of the cl...,"{'lower_bound': '0', 'upper_bound': '999'}",DNC SERVICES CORP./DEM. NAT'L COMMITTEE,NaN,NaN
...,...,...,...,...,...,...
1995,858727104774582,We can protect care workers on the frontlines ...,"{'lower_bound': '4000', 'upper_bound': '4999'}",NRDC Action Fund,"[{'percentage': '0.000348', 'region': 'Wiscons...","[{'percentage': '0.000347', 'age': '45-54', 'g..."
1996,1058997414910672,We can protect care workers on the frontlines ...,"{'lower_bound': '4000', 'upper_bound': '4999'}",NRDC Action Fund,"[{'percentage': '1', 'region': 'Michigan'}]","[{'percentage': '0.000691', 'age': '25-34', 'g..."
1997,233358038733056,We can protect care workers on the frontlines ...,"{'lower_bound': '2000', 'upper_bound': '2999'}",NRDC Action Fund,"[{'percentage': '1', 'region': 'Michigan'}]","[{'percentage': '0.00055', 'age': '65+', 'gend..."
1998,371029321177296,"When it comes to solutions for climate change,...","{'lower_bound': '0', 'upper_bound': '999'}",NRDC Action Fund,"[{'percentage': '1', 'region': 'Michigan'}]","[{'percentage': '0.002674', 'age': '35-44', 'g..."
1999,931565364370282,"When it comes to solutions for climate change,...","{'lower_bound': '0', 'upper_bound': '999'}",NRDC Action Fund,NaN,NaN

In [5]:
import time 

#https://developers.facebook.com/docs/graph-api/results


counter = 0
for i in range(10):

    paging = response["paging"]["next"]
    next_response = get_json_response(paging, access_token)

    new_page = pd.DataFrame(next_response['data'])
    data = data.append(new_page, ignore_index=True)
    time.sleep(10)
    counter+=1
    print(counter)


data.count() #Should show 600

1
2
3

KeyboardInterrupt:

In [ ]:
data.describe()

,id,ad_creative_body,impressions,delivery_by_region,demographic_distribution,funding_entity
count,8000,7941,8000,6112,6112,7385
unique,4000,1076,38,2281,3007,402
top,598261591195643,Opening up the Arctic National Wildlife Refuge...,"{'lower_bound': '0', 'upper_bound': '999'}","[{'percentage': '1', 'region': 'California'}]","[{'percentage': '0.012702', 'age': '25-34', 'g...",NRDC Action Fund
freq,3,252,4365,212,3,519

In [ ]:
data.loc[[0]]["delivery_by_region"]

0    [{'percentage': '2.0E-6', 'region': 'JÃ¤mtland ...
Name: delivery_by_region, dtype: object