# Basic setup for fetching data from the facebook api

### Remember to add an active access token below and adjust the parameters and fields if necessary

In [25]:
# must be specified to be able to use methods of package
import sys
sys.path.append('../src') 
# import packages
import pandas as pd
from political_ads.api_request import get_json_response 

# insert your access token here (expires every 2 hours)
access_token = "EAAHmCGvnrWoBAJsYL98OhZAyLAwwqbeBh6IjIgOo6MefZCEwKMi8nBzrSdgLzMFFU0OjtSNPvZBCz2bjVmbJmuRmZARYbZAZCQlvByimceTyWnS3DKr7OJUxqv7Br0ZAjJn3GJfvuYZANYyujqNeJURIe69oQ2jnjxZB4xK1aVZBRUR6g5ZA1AlUlWN3ZBSrmmWZBZCZAAlCuIGZBfh9fxwucMmautag"

# PARAMETERS NECESSARY
ad_type = "POLITICAL_AND_ISSUE_ADS"
ad_reached_countries = ['US', 'DE'] # Facebook delivered the ads in these countries. Provided as ISO country codes.
search_terms = "climate" # The terms to search for in your query. We treat a blank space as a logical AND and search for both terms and no other operators. The limit of your string is 100 characters or less.

# FIELDS to specify your results
fields = ["id", "ad_creative_body", "impressions", "delivery_by_region", "demographic_distribution"]

# see here for more parameters and fields: https://www.facebook.com/ads/library/api/?source=archive-landing-page 

input_url = f"https://graph.facebook.com/v12.0/ads_archive?search_terms={search_terms}&ad_type={ad_type}&ad_reached_countries={ad_reached_countries}&fields={fields}"

response = get_json_response(input_url, access_token)

data = pd.DataFrame(response["data"])

In [7]:
data.head()

,id,ad_creative_body,impressions,delivery_by_region,demographic_distribution
0,878708576362819,Transport affects climate change and our urban...,{'lower_bound': '1000000'},"[{'percentage': '2.0E-6', 'region': 'JÃ¤mtland ...","[{'percentage': '0.000114', 'age': '55-64', 'g..."
1,345860090520766,"Climate change, environmental degradation and ...",{'lower_bound': '1000000'},"[{'percentage': '7.0E-6', 'region': 'Hiiu Coun...","[{'percentage': '0.001705', 'age': '25-34', 'g..."
2,1074678253022683,"How could EU rules on climate, health, environ...",{'lower_bound': '1000000'},"[{'percentage': '4.0E-6', 'region': 'JÃµgeva Co...","[{'percentage': '0.000167', 'age': '55-64', 'g..."
3,2883391761877521,It's a vibe. Weâ€™re excited to announce that Dr...,"{'lower_bound': '800000', 'upper_bound': '8999...","[{'percentage': '3.0E-6', 'region': 'Yangon'},...","[{'percentage': '1.8E-5', 'age': '55-64', 'gen..."
4,161524832762330,ðŸŒŽ Sierra Club's City Hike-A-Thon is a national...,"{'lower_bound': '0', 'upper_bound': '999'}","[{'percentage': '0.8', 'region': 'Massachusett...","[{'percentage': '0.0125', 'age': '18-24', 'gen..."

In [11]:
data.describe()

,id,ad_creative_body,impressions,delivery_by_region,demographic_distribution
count,25,25,25,19,19
unique,25,15,8,14,19
top,878708576362819,ðŸŒŽ Sierra Club's City Hike-A-Thon is a national...,"{'lower_bound': '0', 'upper_bound': '999'}","[{'percentage': '1', 'region': 'California'}]","[{'percentage': '0.000114', 'age': '55-64', 'g..."
freq,1,4,14,6,1

In [22]:
data.loc[[0]]["delivery_by_region"]

0    [{'percentage': '2.0E-6', 'region': 'JÃ¤mtland ...
Name: delivery_by_region, dtype: object